@using Modul5
<div @attributes="MyAttributes">
<h3>@Titel @Anzahl @Farbe</h3>
@ChildContent
</div>
@code {
    [Parameter]
    [EditorRequired]
    public string Titel { get; set; }
    [Parameter]
    public Person MyPerson { get; set; }
    [Parameter(CaptureUnmatchedValues =true)]
    public Dictionary<string,object> MyAttributes { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [CascadingParameter]
    public int Anzahl { get; set; }
    [CascadingParameter(Name ="Farbe")]
    public string Farbe { get; set; }
}
