@page "/rest"
@inject IHttpClientFactory http;
<h3>ToDoRest</h3>
<button class="btn btn-primary" @onclick="laden">laden</button>
@if (Liste==null)
{
    <p>keine daten ....</p>
}
else
{
    <ul class="list-group">
        @foreach (var item in Liste)
        {
            <li class="list-group-item">
                @item.title
            </li>
        }

    </ul>
}

@code {
    public List<Todos> Liste;
    async Task laden()
    {
        var client = http.CreateClient();
        Liste =await  client.GetFromJsonAsync<List<Todos>>("https://jsonplaceholder.typicode.com/todos");
      

    }
}
