@page
@model BlazorTrainingMai22.Pages.Modul5.IndexModel
<form method="post">
    <input name="eins" /><br />
    <input type="number" /><br />
    <input type="datetime-local" /><br />
    <input type="text" required /><br />
    <input type="text" required /><br />
    <input type="range" min="10" max="100" />
    <button type="submit"></button>


</form>

@{
}
